@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Palette Variables */
:root {
  --primary-light-blue: #ebf5ff;
  --primary-medium-blue: #dbeafe;
  --primary-dark-blue: #93c5fd;
  --secondary-white: #ffffff;
  --secondary-light-white: #f9fafb;
  --accent-blue-start: #60a5fa;
  --accent-blue-end: #3b82f6;
  --text-deep-blue: #1e40af;
  --text-medium-blue: #3b82f6;
  --text-slate-blue: #64748b;
  --font-prompt: 'Prompt', sans-serif;
}

body {
  font-family: var(--font-prompt), ui-sans-serif, system-ui, sans-serif;
}